{% extends "base.html"%}
{% block title %}Miguel Marques - Full Stack developer{% endblock %}


{% block content %}

    <main class="bg-fixed h-screen bg-background-color-main">

        <div  class="absolute bottom-0 h-80 w-full bg-no-repeat bg-cover bg-center" style="background-image: url(../static/separation.svg);"></div>


        <div class="flex flex-row h-full flex-grow">
            <div class="basis-1/2 h-full">
                        <div class="mt-5 ml-2 font-sans font-semibold absolute top-1/2 bottom-1/2 left-1/10 z-20 shadow-md flex items-center flex-wrap">
                            <h1 class="text-secundary-text text-8xl">Hello</h1>
                            <img class=" w-24 animate-waving origin-center-100/70-100/70" src="https://em-content.zobj.net/source/apple/391/waving-hand_light-skin-tone_1f44b-1f3fb_1f3fb.png" alt="👋">
                        </div>                    
                </div>
            
            <div class="basis-1/2 h-full flex flex-col justify-center text-center z-50">
                
                <h1 class="ml-2 text-3xl font-sans text-secundary-text ">my name is <span class="text-8xl font-bold">Miguel</span></h1>
                <h1 class="ml-2 text-3xl font-sans text-secundary-text "><span class="text-8xl font-bold mr-2">Marques</span>i'm a Full Stack Developer</h1>
            </div>
        </div>

    </main>

    <section id="More about me" class=" h-screen flex  items-center font-sans font-bold text-secundary-text bg-repeat bg-cover flex-wrap" style="background-image: url(../static/stacked-waves-haikei.svg);">
            <div class="p-10 flex flex-col items-center justify-center basis-1/2 border border-solid border-white h-2/3">
                <h2 id="moreabtme" class="text-4xl text-nowrap mb-5">More About me</h2>
                <img src="" alt="">
                <div class="flex">
                    <div class="basis-1/3">oi</div>
                        <div class=" text-2xl>
                            <p class="">I am Miguel Marques, a Brazilian 16 years old Full Stack developer, my first contact with code was 2 years ago, i started creating Front-end (HTML, css and javascript) projects and currently i work mainly with python using Flask for Back-end applications</p>
                            <p class="">You can see more about my projects in my <a href="https://github.com/MarquesMiguel">github page</a></p>
                        </div>
                    <div class="w-2 basis-1/3">oi</div>
                </div>
            </div>
            <div id="Skills" class="basis-1/2 font-semibold text-4xl border border-solid border-white h-2/3 content-center" >
                <h3 class="text-center  mb-5">Skills</h3>
                <div id="icons" class="grid grid-cols-2 justify-items-center gap-8" >
                    <div class="h-24"></div>
                    <div class="h-24"></div>
                    <img class=" h-24" src="https://static-00.iconduck.com/assets.00/flask-icon-1594x2048-84mjydzf.png" alt="Flask" >
                    <img class=" h-24" src="https://cdn-icons-png.flaticon.com/512/174/174854.png" alt="html" >
                    <img class=" h-24" src="https://cdn-icons-png.freepik.com/256/11516/11516361.png?semt=ais_hybrid" alt="css" >
                    <img class=" h-24" src="https://cdn-icons-png.flaticon.com/512/5968/5968292.png" alt="javascript" >
                </div>  
        </div>

    </section>
    
{% endblock %}
